html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
}

.nav-link.active {
    font-weight: bold;
    color: #fff !important;
    background-color: #007BFF;
}

.footer {
    background-color: #f8f9fa;
    padding: 1rem 0;
}

.card {
    border-radius: 0.5rem;
}

.card-header {
    border-bottom: 1px solid #dee2e6;
}

.card-header-tabs .nav-link {
    color: #fff;
    background-color: #007BFF;
    margin-right: 0.5rem;
}

    .card-header-tabs .nav-link.active {
        background-color: #0056b3;
    }

.navbar {
    margin-bottom: 1rem;
}
